= simple_form_for @micro do |f|
 =f.input :location, :collection => Micro::LOCATIONS
 =f.input :aggressor, :collection => Micro::AGGRESSORS
 =f.input :description, as: :text
 =f.input :severity, :collection => [*1..5]
 =f.label :date, "Date of Occurance"
 =f.date_field :date, :value => Date.today
 =f.button :submit, "Register Microaggresion"
