%h1
	= "Welcome #{current_user.email}"

%h2 Summary

%svg{:id => 'chart'}

%h3 Offender Summary 
%ul{:class=>"offenders"}
	%li{:class=>"family"}
	%li{:class=>"coworker"}
	%li{:class=>"superior"}
	%li{:class=>"subordinate"}
	%li{:class=>"patron"}
	%li{:class=>"other"}


